body {
    background-color: rgb(217, 183, 118);
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}


.bar_menu {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;


}

header {
    min-height: 50px;
    margin-top: 41px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.logoimg {
    width: 60px;
    height: 30px;

}

p {
    font-size: 20px;
    margin-bottom: 15px;
}

nav a {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: black;
    color: white;
}

.letstalkbtn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;

}

.letstalkbtn:hover {
    background-color: black;
    color: white;
}

h1 {
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

main {
    min-height: 300px;
    display: flex;

}

.herobox1 {
    width: 70%;

}

.herobox2 {
    padding-top: 15px;
    margin-left: 116px;
}

.mainimg {
    width: 260px;
    height: 260px;
    border-radius: 260px;
}

footer {
    min-height: 300px;
}

.seemyworksbtn {
    background-color: blue;
    color: white;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.seemyworksbtn:hover {
    background-color: black;
    color: white;
    transition-duration: 1s;

}

/* About me page */
.aboutme {
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
    margin-bottom: 100%;
    display: flex;
    flex-direction: column;


}

.aboutmecontainer h1 {
    margin-bottom: 30px;
    color: rgba(3, 3, 32, 0.831);
    text-transform: capitalize;
    font-size: 80px;
}


.aboutmecontainer p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: black;
}

.aboutmecontainer button {
    text-transform: uppercase;
    background-color: blue;
    color: white;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.aboutmecontainer button:hover {
    background-color: black;
    color: white;
    transition-duration: 1s;
}


.aboutcircle {
    width: 360px;
    height: 360px;
    border-radius: 360px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 400px;
    color: black;
}

.aboutcircle img {
    height: 360px;
    width: 360px;
    border-radius: 360px;
}

@media(max-width:900px) {
    .bar_nav {
        margin-top: 30px;
        display: none;

    }

    .bar_nav a {
        display: block;
        border-style: solid;
        border-width: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 372px;
        background-color: black;
        color: white;
        margin: auto;
        width: 488px;
        text-align: center;
        margin-top: 2px;

    }

    .bar_nav a:hover {
        background-color: gray;
        color: white;

    }

    .bar_menu {
        display: block;
        color: black;
        text-align: end;
        margin-left: -32px;
        



    }

    .container {
        width: 500px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .mainimg {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        padding-left: 30px;
        border-radius: 200px;
    }

    .herobox1 {
        width: 95%;


    }

    .herobox2 {
        margin-left: -71px;




    }

    main {
        min-height: 300px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .seemyworksbtn {
        background-color: blue;
        color: white;
        height: 52px;
        width: 172px;
        margin-left: 151px;
        margin-right: 151px;
        border: none;
        border-radius: 92px;
        cursor: pointer;
    }

    p {
        font-size: 20px;
        margin-bottom: 64px;
    }

    .logoimg {
        position: fixed;
    }

}